<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>

<!-- Navigation-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a th:unless="${isAuthenticated}" class="navbar-brand" href="#page-top" th:href="@{/}">Welcome</a>
    <a th:if="${isAuthenticated}" class="navbar-brand" href="#page-top"
       th:text="'Welcome, ' + ${session.currentUser}" th:href="@{/}">Welcome</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a th:unless="${isAuthenticated}" href="" th:href="@{/users/new}"
                                class="nav-link" >Sign Up</a></li>
        <li class="nav-item"><a th:unless="${isAuthenticated}" href="" th:href="@{/authentication/login}"
                                class="nav-link" >Log In</a></li>
        <li class="nav-item"><a th:if="${isAuthenticated}" href="" th:href="@{/users/{userId}(userId = ${session.currentUserId})}"
                                class="nav-link" >Profile</a></li>
        <li class="nav-item"><a th:if="${isAuthenticated}" href="" th:href="@{/authentication/logout}"
                                class="nav-link" >Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>