<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Form</title>
</head>
<body>
<form th:fragment="task-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${task}"
      method="post">

  <label th:text="#{task.label.title}">Title</label>
  <br/>
  <input th:field="*{title}"/>
  <label class="error" th:errors="*{title}">Title error placeholder</label>
  <br/><br/>

  <label th:text="#{task.label.description}">Description</label>
  <br/>
  <input th:field="*{description}"/>
  <label class="error" th:errors="*{description}">Description error placeholder</label>
  <br/><br/>

  <input class="btn btn-primary text-uppercase" type="submit" value="Save"/>
</form>
</body>
</html>