<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Change Status</title>
  <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico"/>
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
        rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
        rel="stylesheet"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Navbar fragment</nav>


<div class="row gx-lg-5 justify-content-center">
  <div class="col-md-10 col-lg-8 col-xl-7">
    </br></br></br></br>
    <h2>Select status</h2>
    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
          method="post">
      <label>New status</label>
      <select name="statusId">
        <option th:each="status : ${statuses}"
                th:value="${status.getStatusId()}"
                th:text="${status.getName()}">
          Status
        </option>
      </select>
      <br/><br/>

      <input class="btn btn-primary text-uppercase" type="submit" value="Save"/>
    </form>
    </br></br></br></br></br>
  </div>
</div>

<!-- Footer-->
<footer class="py-5 bg-black">
  <div class="container px-5"><p class="m-0 text-center text-white small">Created by Albena Alexandrova</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
</body>
</html>