<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tasks</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Navbar fragment</nav>


<div class="row gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        </br></br></br></br>
        <h4 th:text="#{tasks.title}">My tasks</h4>
        <a class="btn btn-primary text-uppercase" href="#" th:href="@{/tasks/new}">Add task</a>
        <a class="btn btn-primary text-uppercase" href="#" th:href="@{/tasks/pdf}">PDF</a>
        </br></br>
        <form action="#" th:action="@{/tasks}" method="get" th:object="${filter}">
            <label th:text="#{filter.options}">Filter Options</label>
            </br>
            <input type="text" placeholder="title" th:field="*{title}"/>
            <input type="text" placeholder="description" th:field="*{description}"/>

            <select th:field="*{statusId}">
                <option value="">Status</option>
                <option th:each="status : ${statuses}"
                        th:value="${status.getStatusId()}"
                        th:text="${status.getName()}">
                    Status
                </option>
            </select>
            </br>

            <select th:field="*{sortBy}">
                <option value="">Sort By</option>
                <option value="title">Title</option>
                <option value="description">Description</option>
                <option value="status">Status</option>
            </select>
            <select th:field="*{sortOrder}">
                <option value="">Sort Order</option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            </br></br>

            <input class="btn btn-primary text-uppercase" type="submit" value="Search"/>
            </br></br>
        </form>

        <div class="custom-table">
            <div class="custom-header">
                <h6 class="custom-cell" th:text="#{task.label.title}">Title</h6>
                <h6 class="custom-cell" th:text="#{task.label.description}">Description</h6>
                <h6 class="custom-cell" th:text="#{task.label.status}">Status</h6>
                <h6 class="custom-cell" th:text="#{table.action}">Test action</h6>
            </div>
            <div class="custom-row" th:each="task : ${tasks}">
                <h6 class="custom-cell" th:text="${task.title}">Title</h6>
                <h6 class="custom-cell" th:text="${task.description}">Description</h6>
                <h6 class="custom-cell" th:text="${task.status.name}">Status</h6>
                <h6 class="custom-cell">
                    <button type="button"><a href="#" th:href="@{/tasks/{taskId}(taskId = ${task.taskId})}">Details</a>
                    </button>
                </h6>
            </div>
        </div>

        </br></br></br></br>

    </div>
</div>



<!-- Footer-->
<footer class="py-5 bg-black">
    <div class="container px-5"><p class="m-0 text-center text-white small">Created by Albena Alexandrova</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
</body>
</html>