<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Create User</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Navbar fragment</nav>

<!-- Header-->
<header class="masthead text-lg-start text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h4 th:text="#{navigation.create-user}">Create User</h4>
            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}"
                  method="post">

                <label th:text="#{user.label.firstname}">First Name</label>
                <br/>
                <input th:field="*{firstName}"/>
                <label class="error" th:errors="*{firstName}">First Name error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.lastname}">Last Name</label>
                <br/>
                <input th:field="*{lastName}"/>
                <label class="error" th:errors="*{lastName}">Last Name error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.username}">Username</label>
                <br/>
                <input th:field="*{username}"/>
                <label class="error" th:errors="*{username}">Phone error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.password}">Password</label>
                <br/>
                <input type="password" th:field="*{password}"/>
                <label class="error" th:errors="*{password}">Password error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.email}">Email</label>
                <br/>
                <input th:field="*{email}"/>
                <label class="error" th:errors="*{email}">Email error placeholder</label>
                <br/><br/>


                <input class="btn btn-primary text-uppercase" type="submit" value="Save"/>
            </form>
        </div>
    </div>
</header>
<!-- Footer-->
<footer class="py-5 bg-black">
    <div class="container px-5"><p class="m-0 text-center text-white small">Created by Albena Alexandrova</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>

</body>
</html>